@charset "utf-8";
img,div,i,em,a,body,p,H1,ul,li {
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;	
border-style:none;
font-size:12px;
list-style-type:none;
margin:0;
padding:0;
text-decoration:none
}
/*头部部份*/
.header {
	height:65px;
	margin-bottom:10px;
	width:100%;
	background-color: #505153;
	background-image: url(../images/bg_headLine1.png);
	background-repeat: no-repeat;
	background-position: 290px;
	overflow: hidden;
}

.header A {
-moz-border-radius:5px;
background:#3E8BFF;
border-radius:5px;
color:#FFF;
display:inline-block;
float:left;
font-size:15px;
font-weight:700;
line-height:50px;
margin-left:100px;
margin-top:7px;
text-align:center;
width:150px
}
.header A:hover{
	text-decoration: underline;
	background-color: #0F6FFF;
}

.bottom a:hover{
	color: #39F;
	text-decoration: underline;
}
.header img {
display:inline-block;
float:left;
margin-left:20px
}

.header strong {
color:#FFF;
display:block;
float:right;
height:60px;
line-height:60px;
margin-right:20px
}
/*头部部份*/
/*旋转*/
#LeftRotate {
margin-left:10px;
margin-right:10px
}

#LeftRotate em,#RightRotate em {
background:url(../images/bch.jpg) no-repeat;
display:inline-block;
height:21px;
margin-right:3px;
margin-top:1px;
vertical-align:middle;
width:15px
}

#LeftRotate,#RightRotate {
-moz-border-radius:5px;
border:1px solid #CCC;
border-radius:5px;
color:#666;
cursor:pointer;
float:left;
font-size:12px;
margin-top:-5px;
padding-bottom:5px;
padding-top:5px;
text-align:center;
width:80px
}

#LeftRotate:hover,#RightRotate:hover {
border:1px solid #919191;
color:#414141
}

#RightRotate {
margin-left:10px
}

#RightRotate em {
background-position:-91px 0;
margin-left:3px;
margin-right:0;
margin-top:1px
}
.hint {
color:#333;
display:block;
float:left;
font-size:12px;
font-style:normal;
height:19px;
line-height:15px;
width:19px
}

.hint.L,.hint.R {
background:url(../images/zoom.png) no-repeat -2px -1px
}

.hint.R {
background-position: -43px -1px
}
/*旋转*/
/*选择图片方式*/
#SelectBox {
background:url(../images/bg.png);
hhdisplay:none;
position:absolute;
z-index:180
}

#SelectBox #selectImage input {
	height: 74px;
	width: 224px;
	background-color: #FFF;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity:0;
	position: absolute;
	float: left;
	cursor: pointer;
	display: block;
}
.displayNone {
	display: none;
}

#SelectBox #selectImage,#SelectBox #PhotoLoading,#SelectBox #camerasImage {
	-moz-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:1px 1px 10px 0 #3b3b3f;
	box-shadow:1px 1px 10px 0 #3b3b3f;
	background:url(../images/Select.jpg) no-repeat;
	display:block;
	height:74px;
	margin-left:-112px;
	margin-top:-37px;
	outline:0 none;
	position:absolute;
	width:223px;
	overflow: hidden;
}
#SelectBox #PhotoLoading {
background-position:0 -148px;
left:50%;
top:52%
}

#SelectBox #selectImage {
left:50%;
top:25%
}
#SelectBox #camerasImage{
background-position:0 -74px;
left:50%;
top:79%
}
#SelectBox #selectImage:hover,#SelectBox #PhotoLoading:hover,#SelectBox #camerasImage:hover {
	border:3px solid #666;
	margin-left:-115px;
	margin-top:-40px;
}
/*选择图片方式*/
/*工具条*/
.Psava {
	clear:both;
	height:50px;
	padding-left:110px;
	padding-top:20px;
}

.Psava #againIMG,.Psava #saveShear {
	background:url(../images/btn5.jpg) no-repeat;
	color:#666;
	float:left;
	line-height:31px;
	margin-right:20px;
	text-align:center;
	width:79px;
	height: 31px;
}

.Psava #againIMG:hover {
background-position: 0px -31px;
}

.Psava #saveShear {
background-position: -79px 0px;
color:#FFF;

}

.Psava #saveShear:hover {
background-position:-79px -31px
}
#Shearbar {
	padding-top:20px;
	width:450px;
	display: none;
	margin-right: auto;
	margin-left: auto;
 }

#ZoomDist {
	float:left;
	height:20px;
	position:relative;
	width:200px
}

#ZoomDist #ZoomBar {
-moz-border-radius:2px 2px 10px 10px;
-moz-box-shadow:0 1px 3px 0 #666;
background:#09F;
border-radius:2px 2px 10px 10px;
box-shadow:0 1px 3px 0 #666;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
height:20px;
left:0;
opacity:0.8;
position:absolute;
width:10px
}

#ZoomDist .progress {
-moz-border-radius:15px;
border-radius:15px;
background:#999;
display:block;
float:left;
height:8px;
margin-top:4px;
overflow:hidden;
width:100%
}
/*工具条*/
/*主功能界面*/
#black {
background:#000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
opacity:0.5;
position:absolute;
z-index:99
}

#main {
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	background:url(../images/bg.png);
	overflow:hidden;
	position:relative;
	z-index:50;
	border: 1px solid #CCC;
	margin-right: auto;
	margin-left: auto;
}

#main .BigImg {
float:left;
position:relative;
z-index:51
}

#main .MoveImg {
position:relative;
z-index:98
}

#main #imgID {
display:block;
z-index:51
}

#main #movebox {
float:left;
position:absolute;
z-index:100
}

#main #movebox #BottomRight,#main #movebox #TopRight,#main #movebox #Topleft,#main #movebox #Bottomleft,#main #movebox #Topmiddle,#main #movebox #leftmiddle,#main #movebox #Rightmiddle,#main #movebox #Bottommiddle {
background:#04B7FB;
bottom:-4px;
cursor:nw-resize;
display:block;
height:8px;
overflow:hidden;
position:absolute;
right:-4px;
width:8px;
z-index:105
}

#main #movebox #Bottomleft {
bottom:-4px;
cursor:ne-resize;
left:-4px
}

#main #movebox #Bottommiddle {
bottom:-4px;
cursor:n-resize;
left:50%;
margin-left:-4px
}

#main #movebox #Rightmiddle {
cursor:e-resize;
margin-top:-4px;
right:-4px;
top:50%
}

#main #movebox #TopRight {
cursor:ne-resize;
right:-4px;
top:-4px
}

#main #movebox #Topleft {
cursor:nw-resize;
left:-4px;
top:-4px
}

#main #movebox #Topmiddle {
cursor:n-resize;
left:50%;
margin-left:-4px;
top:-4px
}

#main #movebox #leftmiddle {
cursor:e-resize;
left:-4px;
margin-top:-4px;
top:50%
}

#main #relat {
position:relative;
z-index:60
}

#main #smallbox {
background:url();
overflow:hidden;
position:relative;
z-index:100
}
/*主功能界面*/


/*上滚下滚提示的CSS*/
#main .point {
height:35px;
width:100%;
line-height:35px;
font-size:12px;
position:absolute;
top:10px;
left:0;
z-index:200;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
opacity:0.8;
}
.point i {
display:inline-block;
height:16px;
width:15px;
margin-top:10px;
float:left;
margin-left:20px;
margin-right:10px;
background:url(../images/bg_repno.png) no-repeat;
}
/*上滚下滚提示的CSS*/
/*截图完成后的CSS*/
.complete {
	float:left;
	overflow:hidden;
	padding-left:5px;
	padding-top:10px;
	position:absolute;
	width:100%;
	z-index:250;
	background-image: url(../images/bg.jpg);
	background-color: #CCC
}

.complete .completeTxt {
-moz-border-radius:10px;
-moz-box-shadow:0 0 15px 0 #666;
background:#FBFDFF;
border-radius:10px;
bottom:30px;
box-shadow:0 0 15px 0 #666;
padding-bottom:30px;
padding-top:30px;
position:absolute;
right:30px;
text-align:center;
width:280px
}

.complete .completeTxt a {
background:url(../images/bg_index.gif) no-repeat 0 -2px;
color:#FFF;
display:block;
font-size:14px;
line-height:40px;
margin-left:auto;
margin-right:auto;
width:128px;
}

.complete .completeTxt a:hover {
background-position: -137px -2px
}

.complete .completeTxt p {
color:#666;
font-size:12px;
font-weight:700;
margin-bottom:10px;
margin-top:10px
}

.complete .completeTxt strong {
font-size:14px
}

.complete img {
	border:1px solid #CCC;
	display:inline-block;
	float:left;
	margin:5px 5px;
	padding:2px;
	
}
.complete .completeTxt strong i {
	background:url(../images/bg_repno.png) no-repeat;
	display:inline-block;
	height:16px;
	margin-right:5px;
	margin-top:-3px;
	width:15px;
	vertical-align: middle;
}
/*截图完成后的CSS*/

/*弹出相册*/
#photoalbum {
-moz-border-radius:10px;
-moz-box-shadow:3px 3px 10px 0 #000;
background:#DFEFFF;
border:8px solid #999;
border-radius:10px;
box-shadow:3px 3px 10px 0 #000;
display:none;
height:340px;
left:50%;
margin-left:-240.5px;
margin-top:-178px;
position:absolute;
top:50%;
width:465px;
z-index:210
}

#photoalbum h1 {
background:#999;
color:#FFF;
font-size:15px;
height:40px;
line-height:30px;
padding-left:10px;
width:455px
}

#photoalbum i {
background:url(../images/fancybox_sprite.png) no-repeat;
display:block;
float:left;
height:37px;
left:429px;
position:absolute;
top:0;
cursor:pointer;
width:36px
}

#photoalbum ul {
height:auto;
width:100%
}

#photoalbum ul li {
	border:1px solid #CCC;
	cursor:pointer;
	display:inline;
	float:left;
	height:133px;
	margin:5px;
	padding:2px;
	width:100px;
	overflow: hidden;
}

#photoalbum ul li img {
width:100%
}

#photoalbum ul li:hover {
border:1px solid #09F
}
/*弹出相册*/



/*弹出拍照*/
#CamBox {
-moz-border-radius:10px;
border-radius:10px;
left:50%;
position:absolute;
-moz-box-shadow:5px 5px 10px 0 #3b3b3f;
box-shadow:5px 5px 10px 0 #3b3b3f;
width:550px;
z-index:250;
display:none;
top:50%;
margin-left:-276px;
margin-top:-285px;
background:url(../images/cam_bg.jpg) #d5d5d5
}

#CamBox #CamFlash {
	background:#fff;
	height:450px;
	margin-left:auto;
	margin-right:auto;
	width:450px
}

#CamBox #timing {
color:#F60;
display:none;
font-size:36px;
font-weight:700;
height:200px;
left:50%;
line-height:200px;
margin-left:-100px;
margin-top:-100px;
position:absolute;
text-align:center;
top:50%;
width:200px
}

#CamBox .cambar {
	height:50px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	width:300px;
}

#CamBox .cambar a {
background:url(../images/btn5.jpg) no-repeat;
float:left;
height:31px;
line-height:31px;
text-align:center;
width:79px
}

#CamBox .lens {
background:url(../images/cam.png) no-repeat 50%;
height:50px;
width:100%
}

#CamBox .cambar #camClose,#CamBox .cambar #setCam {
	color: #333;
	
}
#CamBox .cambar #setCam {
margin-right: 30px;
}
#CamBox .cambar #camClose:hover,#CamBox .cambar #setCam:hover{
	background-position: 0 -31px;
	}
#CamBox .cambar #CamOk {
	background-position: -79px 0;
	color: #fff;
	margin-right: 30px;
}
#CamBox .cambar #CamOk:hover{
background-position: -79px -31px;	
	}
/*弹出拍照*/
/*底部*/
.bottom {
	width: 1000px;
	padding-top: 20px;
	padding-bottom: 10px;
	left: 2px;
	color: #666;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	text-align: center;
}
.bottom span {
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	margin-left: 2px;
	
}
.bottom a {
	color: #666;
}
.header h1 a {
	font-size: 14px;
	color: #fff;
}

.bottom span img{
	border-radius:30px;
	-moz-border-radius:30px;	
	}
/*底部*/
